// preprocessor gang
@text-active-color: #CCCCCC;
@inactive-color: #FFFFFF;
@center-color: #0B3C5D;
@sidebar-color: #176A9B;
@select-color: #176A9B;
@search-bar-color: #1D2731;
@bottom-bar-color: #1D2731;
@slider-future-color: #919191;
@slider-past-color: #CCCCCC;

#html {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: @text-active-color;
    letter-spacing: 1px;
    white-space: nowrap;
    -webkit-user-select: none;
}

#left {
    height: 90%;
    background-color: @sidebar-color;
    left: 0;
    width: 20%;
    position: fixed;
}

#right {
    height: 90%;
    background-color: @center-color;
    width: 80%;
    position: fixed;
    right: 0;
}

#song-selected, #lib-selected, #theme-selected {
    background-color: @select-color;
    font-weight: bold;
}

#tab-select {
    height: 6%;
    border-bottom-color: @text-active-color;
    border-bottom-style: inset;
    border-bottom-width: medium;
}

#search-container {
    height: 5%;
    background-color: @search-bar-color;
    width: 100%;
    top: 0;
    border: none;

    & > div {
        display: inline-block;
        vertical-align: middle;
    }
}

#search-selection {
    margin-left: 1%;
    margin-right: .5%;
    cursor: pointer;
}

#title-select {
    font-weight: bolder;
}

#search-bar-container {
    height: 100%;
    width: 90%;
}

#search-bar {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-size: 22px;
    outline: none;
    vertical-align: middle;
    &::placeholder {
        color: @text-active-color;
        opacity: 1;
    }
}

#songs-sort {
    height: 4%;
    border-bottom-color: @text-active-color;
    border-bottom-style: solid;
    border-bottom-width: thin;

    display: inline-block;
    width: 100%;

    & > * {
        display: inline-block;
        vertical-align: middle;
        padding: 3px;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
    }
}

#tsort {
    margin-left: 4.25%;
}

#asort {
    margin-left: 39.75%;
}

#bottom {
    background-color: @bottom-bar-color;
    bottom: 0;
    position: fixed;
    height: 10%;
    width: 100%;
}

#title-artist {
    width: 50%;
    left: 0;
    position: fixed;
    margin-top: 1%;
    margin-left: 15px;
}

#song-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    width: 100%;
    vertical-align: middle;
}

#song-artist {
    font-size: 14px;
}

#track-control-info {
    width: 50%;
    text-align: center;
    position: fixed;
    left: 25%;
    margin-top: 5px;
}

#volume-speed {
    width: 20%;
    right: 0;
    position: fixed;
    text-align: center;
}

#speed-container p {
    display: inline-block;
    margin: 4%;
    cursor: pointer;
    font-size: 20px
}

#default {
    font-weight: bolder;
}

#volume-container {
    & * {
        vertical-align: middle;
        display: inline-block;
    }
    & > div {
        width: 60%;
    }
}

#song-time {
    margin-top: .5%;
    vertical-align: middle;

    & p {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        font-family: "Roboto Mono", monospace;
    }
}

#theme-editor {
    & > ul {
        margin-left: 3%;
        margin-right: 3%; 

        & > li {
            margin-bottom: 2%;

            & > .jscolor {
                outline: none;
                font-family: "Roboto Mono", monospace; 
                font-weight: bold;
                text-align: center;
                width: 70px;
            }
        }
    }

    & > p:not(.tab-name) {
        text-align: center;
        cursor: pointer;
        font-family: "Roboto Mono", monospace;
        font-weight: bold;

    }
}


// toast css stuff
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #930000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}
#toast #desc{
    color: #fff;
    padding: 16px;
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 400px}
}
@keyframes expand {
    from {min-width: 50px}
    to {min-width: 400px}
}

@-webkit-keyframes stay {
    from {min-width: 400px}
    to {min-width: 400px}
}
@keyframes stay {
    from {min-width: 400px}
    to {min-width: 400px}
}

@-webkit-keyframes shrink {
    from {min-width: 400px;}
    to {min-width: 50px;}
}
@keyframes shrink {
    from {min-width: 400px;}
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0px; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0px; opacity: 0;}
}
// toast css stuff


.tab {
    display: none;
}

.ui-slider > span.ui-slider-handle:active {
    background-color: @text-active-color !important;
}

.arrow {
  border: solid @text-active-color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.invisible {
    visibility: hidden;
}

.songs-list {
    margin-left: 2%;
//    margin-top: 1%
    overflow-y: scroll;
    height: inherit;
    width: 96%;
    &::-webkit-scrollbar {
        display: none;
    }
}

.list {
    & > li > div {
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
    }

    & > li:not(.mainList) {
        width: 100%;

        cursor: pointer; 

        & > div { 
            width: 100%;
        }
    }

    & > li {
        padding: 10px;
        border-top-style: solid;
        border-top-color: @text-active-color;
        border-top-width: thin;

        &:first-child {
            border-top: none;
        }
    }

}

.title {
    width: 47%;
    margin-left: 2%
}

.artist {
    width: 45%
}

.button {
    background-color: transparent;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

.button-bar:extend(.button) {
    padding-top: 10px;
    position: relative;
    top: 50%;
    transform: tranlateY(-50%);
}

.button-tab:extend(.button) {
    margin-top: 3%;
    margin-left: 2.5%;
}

.tab-name {
    font-size: 32px;
    margin-left: 1%;
    font-weight: bold;
}

.bottom-container {
    height: 100%;
    margin: 0;
}

.material-icons.md-light.md-inactive {
    color: @inactive-color;
    opacity: 0.3;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


// ugly styling for jqueryui stuff
.ui-widget-header {
    background: @slider-past-color !important;
}

.ui-slider {
    background-color: @slider-future-color !important;
    height: 6px !important;
    margin-bottom: 9px !important;
    margin-top: 6px !important;
    border-style: none !important;
    cursor: pointer !important;
}

.ui-slider-handle {
    width: 1px !important; 
    border-style: none !important;
    cursor: pointer !important;
    background-color: @slider-past-color !important;
}
